*{
    margin: 0;
    padding: 0;
}

h1{
    color: green;
    margin-bottom: 20px;
}

#wrapper{
    width: 400px;
    display: table;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    margin-top: 30px;

}

#chat{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
}

#textbox{
    border: 1px solid black;
    width: 420px;
    padding: 5px 10px;
    margin-top: 20px;
}

#btn{
    margin-left: 400px;
    margin-top: 20px;
}

#dialogs, #users_div {
    list-style: none;
    margin-top: 4px;
}